<section class="h-screen bg-gray-900">
	<!-- <Starfield /> -->
	<div class="relative grid h-3/4 place-items-center pt-32">
		<div class="font-extrabold tracking-tighter text-center bg-gradient-to-r from-violet-500 to-fuchsia-500 text-transparent text-8xl bg-clip-text">
			Create<br />
			AI-Art<br />
			& NFTs
		</div>
		<div>
			<h1 class="font-bold text-center pb-12 text-white">Try it now for free!</h1>
			<!-- <LoginButton /> -->
			<a routerLink="/generate" routerLinkActive="active">
				<button class="bg-gradient-to-r from-violet-500 to-fuchsia-500 p-2 rounded-full">
					<h1 class="font-bold text-xl bg-gradient-to-r from-violet-500 to-fuchsia-500">🦊 Connect MetaMask</h1>
				</button>
			</a>
		</div>
	</div>
	<app-footer></app-footer>
</section>
